body {
  background-color: grey;
  height: 2000px ;
}
h1 {
  color: Black;
  background-color: lightgrey;
  border: 6px solid black;
  style: Arial;
}
h2 {
  color: Black;
  font-size:16px;
  font-type:Times New Roman;
}
